<!DOCTYPE html>
<html
        layout:decorate="~{layout/layout}"
        th:with="activeMenuItem='users'"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Users</title>
</head>
<body>
<div layout:fragment="page-content">
    <h1 class="px-4 text-2xl font-semibold text-gray-900"
        th:text="${editMode?.name() == 'UPDATE'} ? 'Edit user' : 'Create user'"
    >Create user</h1>
    <div class="mt-4 sm:px-4">
        <form
                class="bg-white px-4 py-6 shadow sm:rounded-lg"
                id="user-form"
                method="post"
                th:action="${editMode?.name() == 'UPDATE'} ? @{/users/{id}(id=${user.id})} : @{/users/create}"
                th:object="${user}"
        >
            <!--Error summary-->
            <div th:replace="~{fragments/forms :: fieldErrors}"></div>
            <!--Input fields-->
            <div
                    class="grid grid-cols-1 gap-x-6 gap-y-8 border-b border-gray-200 pb-10 sm:grid-cols-6"
            >
                <input th:field="*{version}" th:if="${editMode?.name() == 'UPDATE'}" type="hidden">
                <!--Role choice-->
                <div class="sm:col-span-2">
                    <label class="block text-sm font-medium text-gray-700" for="userRole">User Role</label>
                    <select class="max-w-lg block focus:ring-green-500 focus:border-green-500 w-full shadow-sm sm:max-w-xs sm:text-sm border-gray-300 rounded-md"
                            id="userRole"
                            th:field="*{userRole}"
                    >
                        <option th:each="role : ${possibleRoles}"
                                th:text="${role.name()}"
                                th:value="${role.name()}"
                        >User
                        </option>
                    </select>
                </div>
                <!--End Role choice-->
                <!--Gender radio-->
                <div class="sm:col-span-6">
                    <label class="block text-sm font-medium text-gray-700" th:text="Gender">Gender</label>
                    <div>
                        <th:block th:each="possibleGender,iter : ${genders}">
                            <input class="mr-1 focus:ring-green-500 h-4 w-4 text-green-500 border-gray-300"
                                   th:classappend="${iter.index > 0 ? 'ml-4':''}"
                                   th:field="*{gender}"
                                   th:id="${'gender-'+possibleGender}"
                                   th:value="${possibleGender}"
                                   type="radio"
                            >
                            <label class="text-sm font-medium text-gray-700"
                                   th:for="${'gender-'+possibleGender}"
                                   th:text="${possibleGender}">
                            </label>

                        </th:block>
                        <p class="mt-2 text-sm text-red-600" id="gender-error"
                           th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}">Gender error message(s).</p>
                    </div>
                </div>
                <!--End gender radio -->
                <!--Start first name-->
                <div th:replace="~{fragments/forms :: textinput(labelText='First name', fieldName='firstName', cssClass='sm:col-span-3')}"></div>
                <!--End first name-->
                <!--Start last name-->
                <div th:replace="~{fragments/forms :: textinput(labelText='Last name', fieldName='lastName', cssClass='sm:col-span-3')}"></div>
                <!--End last name-->
                <!--Start email-->
                <div class="sm:col-span-4">
                    <label
                            class="block text-sm font-medium leading-6 text-gray-900"
                            for="email"
                    >Email address</label
                    >
                    <div class="mt-2">
                        <input
                                autocomplete="email"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                                id="email"
                                th:classappend="${#fields.hasErrors('email')? 'ring-red-300 focus:ring-red-300' : 'focus:ring-green-600 ring-gray-300'}"
                                th:field="*{email}"
                                type="email"
                        />
                    </div>
                    <p class="mt-2 text-sm text-red-600"
                       id="email-error"
                       th:errors="*{email}" th:if="${#fields.hasErrors('email')}"
                    >Email validation error message(s).</p>
                </div>
                <!--End email-->
                <!--Start passwords-->
                <th:block th:if="${editMode?.name() == 'CREATE'}">
                    <div th:replace="~{fragments/forms :: textinput(labelText='Password', fieldName='password', cssClass='sm:col-span-4', inputType='password')}"></div>
                    <div th:replace="~{fragments/forms :: textinput(labelText='Verify password', fieldName='passwordRepeated', cssClass='sm:col-span-4', inputType='password')}"></div>
                </th:block>
                <!--End passwords-->
                <!--Start phone-->
                <div class="sm:col-span-4">
                    <label
                            class="block text-sm font-medium leading-6 text-gray-900"
                            for="phoneNumber"
                    >Phone number</label
                    >
                    <div class="mt-2">
                        <input
                                autocomplete="tel"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                                id="phoneNumber"
                                th:classappend="${#fields.hasErrors('phoneNumber')? 'ring-red-300 focus:ring-red-300' : 'focus:ring-green-600 ring-gray-300'}"
                                th:field="*{phoneNumber}"
                                type="tel"
                        />
                    </div>
                    <p class="mt-2 text-sm text-red-600"
                       id="phoneNumber-error"
                       th:errors="*{phoneNumber}" th:if="${#fields.hasErrors('phoneNumber')}"
                    >Phone number validation error message(s).</p>
                </div>
                <!--End number-->
                <div class="hidden sm:col-span-2 sm:block"></div>
                <!--Start birthday-->
                <div class="sm:col-span-2">
                    <label
                            class="block text-sm font-medium leading-6 text-gray-900"
                            for="birthday"
                    >Birthday</label
                    >
                    <div class="mt-2">
                        <input
                                autocomplete="bday"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-inset sm:text-sm sm:leading-6"
                                id="birthday"
                                th:classappend="${#fields.hasErrors('birthday')? 'ring-red-300 focus:ring-red-300' : 'focus:ring-green-600 ring-gray-300'}"
                                th:field="*{birthday}"
                                type="date"
                        />
                    </div>
                    <p class="mt-2 text-sm text-red-600"
                       id="birthday-error"
                       th:errors="*{birthday}" th:if="${#fields.hasErrors('birthday')}"
                    >Birthday validation error message(s).</p>
                </div>
                <!--End birthday-->
                <!--End fields-->
            </div>

            <div class="mt-6 flex items-center justify-end gap-x-6">
                <a
                        class="text-sm font-semibold leading-6 text-gray-400 transition-colors duration-150 ease-in-out hover:text-gray-900"
                        th:href="@{/users}"
                        type="button"
                >
                    Cancel
                </a>
                <button
                        class="rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm transition-colors duration-150 ease-in-out hover:bg-green-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600"
                        id="submit-button"
                        th:text="${editMode?.name() == 'UPDATE'} ? 'Save changes' : 'Create'"
                        type="submit"
                >
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
