<!DOCTYPE html>
<html
  layout:decorate="~{layout/layout}"
  th:with="activeMenuItem='users'"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Users</title>
  </head>
  <body>
    <div layout:fragment="page-content">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1 class="text-2xl font-semibold text-gray-900">Users</h1>
      </div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <div class="py-4">
          <!--          User table-->
          <div class="flex flex-col">
            <div>
              <div
                class="inline-block min-w-full overflow-hidden rounded-md border-b border-gray-200 align-middle shadow"
              >
                <table class="min-w-full">
                  <thead>
                    <tr>
                      <th
                        th:replace="~{fragments/table :: header(title='UserName')}"
                      ></th>
                      <th
                        th:replace="~{fragments/table :: header(title='Gender', hideOnMobile=true)}"
                      ></th>
                      <th
                        th:replace="~{fragments/table :: header(title='Birthday', hideOnMobile=true)}"
                      ></th>
                      <th
                        th:replace="~{fragments/table :: header(title='Email', hideOnMobile=true)}"
                      ></th>

                      <th th:replace="~{fragments/table :: header('')}"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-white" th:each="user : ${users}">
                      <td
                        th:replace="~{fragments/table :: data(contents=${user.userName.fullName}, primary=true)}"
                      ></td>
                      <td
                        th:replace="~{fragments/table :: data(contents=${user.gender}, hideOnMobile=true)}"
                      ></td>
                      <td
                        th:replace="~{fragments/table :: data(contents=${user.birthday}, hideOnMobile=true)}"
                      ></td>
                      <td
                        th:replace="~{fragments/table :: data(contents=${user.email.asString()}, hideOnMobile=true)}"
                      ></td>
                      <td
                        th:replace="~{fragments/table :: dataWithLink(linkText='Edit', linkUrl='#')}"
                      ></td>
                    </tr>
                  </tbody>
                </table>
                <div
                  th:replace="~{fragments/pagination ::controls(page=${users})}"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
