<!DOCTYPE html>
<html
  layout:decorate="~{layout/layout}"
  th:with="activeMenuItem='teams'"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Teams</title>
  </head>
  <body>
    <div layout:fragment="page-content">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <h1
          class="text-2xl font-semibold text-gray-900"
          th:text="${editMode?.name() == 'UPDATE'} ? 'Edit team' : 'Create team'"
        >
          Create team
        </h1>
      </div>
      <div class="mx-auto max-w-7xl px-4 sm:px-6 md:px-8">
        <div class="py-4">
          <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:p-6">
            <form
              enctype="multipart/form-data"
              id="team-form"
              method="post"
              th:action="${editMode?.name() == 'UPDATE'} ? @{/teams/{id}(id=${team.id})} : @{/teams/create}"
              th:object="${team}"
            >
              <div>
                <div th:replace="~{fragments/forms :: fieldErrors}"></div>
                <div
                  class="mt-6 grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-6"
                >
                  <input
                    th:field="*{version}"
                    th:if="${editMode?.name() == 'UPDATE'}"
                    type="hidden"
                  />
                  <!--                  Team name-->
                  <div
                    th:replace="~{fragments/forms :: textinput(labelText='Team name', fieldName='name', cssClass='sm:col-span-3')}"
                  ></div>
                  <!--                  End Team name-->
                  <div class="sm:col-span-3"></div>
                  <!-- Coach selection -->
                  <div class="sm:col-span-3">
                    <label
                      class="block text-sm font-medium text-gray-700"
                      th:for="coachId"
                      th:text="'Team coach'"
                    ></label>
                    <div class="mt-1 rounded-md shadow-sm">
                      <select
                        class="block w-full max-w-lg rounded-md border-gray-300 shadow-sm focus:border-green-500 focus:ring-green-500 sm:max-w-xs sm:text-sm"
                        name="coachId"
                        th:field="*{coachId}"
                        th:id="coachId"
                      >
                        >
                        <option
                          th:each="user : ${users}"
                          th:text="${user.userName.fullName}"
                          th:value="${user.id.asString()}"
                        ></option>
                      </select>
                    </div>
                  </div>
                  <!-- End Coach selection -->
                  <div class="sm:col-span-3"></div>
                  <!-- Start player add -->
                  <h3>Players</h3>
                  <div class="col-span-6 ml-4">
                    <div
                      id="teamplayer-forms"
                      th:data-teamplayers-count="${team.players.length}"
                    >
                      <th:block th:each="player, iter : ${team.players}">
                        <div
                          th:replace="~{teams/edit-teamplayer-fragment :: teamplayer-form(index=${iter.index}, teamObjectName='team')}"
                        ></div>
                      </th:block>
                    </div>
                    <div class="mt-4">
                      <a
                        @click="addExtraTeamPlayerForm()"
                        class="focus:shadow-outline-blue rounded-md border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 hover:text-gray-500 focus:border-blue-300 focus:outline-none active:bg-gray-50 active:text-gray-800"
                        href="#"
                        id="add-extra-teamplayer-form-button"
                        th:text="'Add player'"
                      ></a>
                      <!--.-->
                    </div>
                  </div>
                  <!-- End player add -->
                </div>
              </div>
              <div class="mt-8 border-t border-gray-200 pt-5">
                <div class="flex justify-end">
                  <span class="inline-flex rounded-md shadow-sm">
                    <a
                      class="rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                      th:href="@{/teams}"
                      type="button"
                    >
                      Cancel
                    </a>
                  </span>
                  <span class="ml-3 inline-flex rounded-md shadow-sm">
                    <button
                      class="ml-3 inline-flex justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                      id="submit-button"
                      th:text="${editMode?.name() == 'UPDATE'} ? 'Save changes': 'Create team'"
                      type="submit"
                    >
                      Save
                    </button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
